/* Example page styles */
body {
    padding: 5px;
}

.example_div {
    width:50%;
    border:2px solid #ccc;
    padding:5px;
    margin-bottom:5px;
}


/* Loader styles */
/*.loader_container {
    display:none;
    position:absolute;
}

.loader_container .loader_gif {
    position:absolute;
    width:32px;
    height:32px;
    background:url('../i/loader-circle-32.gif') 0 0 no-repeat;
    z-index:1;
}

.loader_container .loader_overflow {
    background:#aeaeae;
    opacity:0.4;
}
*/
